/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
*/


// Add border to all element to debug
* {
  // border: dotted 0.1em;
}

body {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  background-color: #85C1E9;
  padding: 1.5em 0;
  // margin: 0;
  h1 {
    display: none;
  }

  img {
    width: 10em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 1.5em;
    font-size: 1.25em;
    // margin: 0;
    // list-style: none;
    // list-style-position: inside;

    li {
      color: white;
      background-color: #2276c0 ;
      text-transform: uppercase;
      padding: 15px 0;
      border: solid 1px #620c04;

      a, a:visited {
        color: inherit;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        background-color: inherit;
        color: hsla(0, 0%, 100%, .5);
      }
    }

    input {
      font-size: 16.25px;
    }
  }
}

section.content {
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  min-width: 480px;

  display: flex;
  flex-direction: column;
  // @media (min-width: 600px) {
  //   flex-direction: row;
  // }

  nav.side_bar {
    text-align: center;
    // @media (min-width: 600px) {
    //   text-align: right;
    // }

    padding: 0.354em;
    background-color: #428bca;
  }

  main {
    padding: 0.5em;
  }
}

nav.logged-in-nav-bar {
  margin-top: 0.354em;

  // match button style with anchor style
  input[type="submit"] {
    background: none;
    border: none;
    color: white;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
  }
  input[type="submit"]:hover {
    color: hsla(0, 0%, 100%, .5);
  }
  input[type="submit"]:focus {
    border: none;
  }
}

#test-time {
  display: none;
}

#notice {
  background-color: #ffb;
  color: #882;
  border: solid 0.2em #882;
  border-radius: 0.5em;
  padding: 1em 1.414em;
  text-align: center;
  font-weight: bold;
}

#side_cart, #side_cart_first_empty{
  h2 {
    text-align: center;
  }
  background-color: white;
  border-radius: 1em;
  margin: 0.5em;
  padding: 1em;

  input[type="submit"]:hover {
    cursor: pointer;
  }

  input[type="submit"].delete-line-item-button {
    background-color: white;
    background: transparent;
    border: none;
    color: gray;
    // color: white;
    // border: solid thin #141;
    // border-radius: 0.354em;
    // padding: 0.354em 1em;
  }
  input[type="submit"]:hover.delete-line-item-button {
    color: black;
  }

  input[type="submit"].delete_button {
    background-color: red;
    color: white;
    border: solid thin #141;
    border-radius: 0.354em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover.delete_button {
    background-color: #AF0000
  }

  input[type="submit"].update-line-item-button,
  input[type="submit"].checkout_button {
    background-color: green;
    color: white;
    border: solid thin #141;
    border-radius: 0.354em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover.update-line-item-button,
  input[type="submit"]:hover.checkout_button {
    background-color: #141
  }
}

#side_cart_first_empty {
  display: none;
}

aside.locale_switcher {
  float: right;
  margin: 1em;
}

.depot_form {
  input[type="submit"] {
    background-color: #1074e7;
    color: white;
    border: solid thin #141;
    border-radius: 0.354em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover {
    background-color: #0366d6;
  }
}

.wrapper {
  padding: 0 1em;
  margin: 0 auto;
}
