/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
*/


// Add border to all element to debug
* {
  // border: dotted 0.1em;
}

body {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  background-color: #85C1E9;
  // margin: 0;
  h1 {
    display: none;
  }

  img {
    width: 10em;
  }
}


section.content {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    flex-direction: row;
  }

  nav.side_bar {
    text-align: center;
    @media (min-width: 600px) {
      text-align: right;
    }

    padding: 0.354em;
    background-color: #428bca;

    ul {
      margin: 0;
      list-style: none;
      list-style-position: inside;

      li {
        color: white;
        text-transform: capitalize;

        a, a:visited {
          color: inherit;
        }
        a {
          text-decoration: none;
        }
        a:hover {
          background-color: inherit;
          color: hsla(0, 0%, 100%, .5);
        }

      }
    }
  }

  main {
    padding: 0.5em;
  }
}

nav.logged-in-nav-bar {
  border-top: solid thin white;
  margin-top: 0.354em;

  // match button style with anchor style
  input[type="submit"] {
    background: none;
    border: none;
    color: white;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
  }
  input[type="submit"]:hover {
    color: hsla(0, 0%, 100%, .5);
  }
  input[type="submit"]:focus {
    border: none;
  }
}

//
// input[type="submit"] {
//   background-color: #282;
//   color: white;
//   border: solid thin #141;
//   border-radius: 0.354em;
//   padding: 0.354em 1em;
//
// }
//
// input[type="submit"]:hover {
//   background-color: #141;
// }

#test-time {
  display: none;
}

#notice {
  background-color: #ffb;
  color: #882;
  border: solid 0.2em #882;
  border-radius: 0.5em;
  padding: 1em 1.414em;
  text-align: center;
  font-weight: bold;
}

#side_cart, #side_cart_first_empty{
  h2 {
    text-align: center;
  }
  background-color: white;
  border-radius: 1em;
  margin: 0.5em;
  padding: 1em;

  input[type="submit"].delete-line-item-button,
  input[type="submit"].delete_button {
    background-color: red;
    color: white;
    border: solid thin #141;
    border-radius: 0.354em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover.delete-line-item-button,
  input[type="submit"]:hover.delete_button {
    background-color: #AF0000
  }

  input[type="submit"].update-line-item-button,
  input[type="submit"].checkout_button {
    background-color: green;
    color: white;
    border: solid thin #141;
    border-radius: 0.354em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover.update-line-item-button,
  input[type="submit"]:hover.checkout_button {
    background-color: #141
  }
}

#side_cart_first_empty {
  display: none;
}

.depot_form {
  input[type="submit"] {
    background-color: #1074e7;
    color: white;
    border: solid thin #141;
    border-radius: 0.354em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover {
    background-color: #0366d6;
  }
}
