// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts {
  table {
    tr {
      .price {
        text-align: right;
        font-weight: bold;
        padding-right: 0;
      }

      td {

      }

      th.price {
        border-top: solid thin black;
      }
    }
    tfoot {
      th {
        text-align: right;
        padding-top: 1em;
      }
    }
  }
}
