// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
  // max-width: 80em;
  ul.catalog {
    border-top: solid 0.2em;
    padding-left: 0;
    li {
      // list-style: none;
      border-bottom: solid thin black;
      display: block;

      &::after {
        clear: both;
        content: '';
        display: block;
      }

      img {
        width: 10em;
      }
      .price {
        font-size: 1.414em;
      }
    }
  }

  form, div {
    display: inline;
  }

  button {
    background-color: white;
    box-shadow: 0.176em 0.176em 0.354em 0px rgba(0,0,0,0.75);
    margin: 1em;
    border: none;
  }

  input[type="submit"] {
    background-color: #282;
    color: white;
    border: solid thin #141;
    border-radius: 0.354em;
    padding: 0.354em 1em;

  }

  input[type="submit"]:hover {
    background-color: #141;
  }
}
